<html lang="en"><head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Apex is an enterprise grade native YARN big data-in-motion platform that unifies stream processing as well as batch processing.">
    <meta name="author" content="Apache Software Foundation">
    <link rel="icon" href="favicon.ico">

    <title>Apache Apex (Incubating)</title>

    <!-- Main Stylesheet -->
    <link href="css/main.css" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-static-top" id="main-nav">
      <div class="container">
        <a class="navbar-brand" href="#">Apache Apex <small>(incubating)</small></a>
        <ul class="nav nav-pills navbar-right">
          {{#each nav}}
          {{#if items}}
          <li class="nav-item">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link">{{label}}<b class="caret"></b></a>
             <ul class="dropdown-menu">
              {{#each items}}
              <li><a href="{{href}}">{{label}}</a></li>
              {{/each}}
            </ul>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="{{href}}">{{label}}</a>
          </li>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </nav>